<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Bachelor's Den</h1>

      <p>Your Application for the role of "{{job['title']}}" has been submitted.</p>
      
      <b>Name</b>
      <div class="mb-2">{{application['name']}}</div>
  
      <b>Phone Number</b>
      <div class="mb-2">{{application['email']}}</div>
  
      <b>Email</b>
      <div class="mb-2">{{application['linkedIn']}}</div>
  
      <b>College/Job Detail</b>
      <div class="mb-2">{{application['education']}}</div>
  
      <b>People Detail</b>
      <div class="mb-2">{{application['workExperience']}}</div>
  
      <b>Aadhar Card link</b>
      <div class="mb-2">{{application['resume']}}</div>
    </div>
      
    {% include 'footer.html' %}
  </body>
</html>